.header {
    width: 100%;
    display: grid;
    padding: 0rem 10%;
    justify-items: center;
}
.container {
    display: grid;
    width: 100%;
    grid-template-columns: 0.5fr 1.5fr;
    max-width: 90rem;
}
.logo {
    display: grid;
    width: 100%;
    justify-items: start;
    align-items: center;
}

.logo img {
    max-height: 8rem;
    transition: all 1s;
}
.logo img:hover {
    transform: rotate(47deg);
}
.navigation {
    display: grid;
    width: 100%;
    justify-items: end;
    align-items: end;
    grid-template-rows: 0.5fr 1fr;
}
.navigation ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: 100%;
    max-width: 40rem;
    align-items: end;
    justify-items: center;
    border: 0.1px solid #efe9e9;
}
.navigation li {
    width: 100%;
    text-align: center;
}
.navigation li:not(last-child) {
    border-right: 0.1px solid #efe9e9;
}
.navigation a {
    font-size: 1.8rem;
}
.toggles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: end;
}
.item {
    display: grid;
    grid-template-rows: 1.9fr 0.1fr;
    width: 100%;
    height: 100%;
    align-items: end;
    transition: all 0.2s;
    background-position: top left;
    &.lightbluegreen {
        background: linear-gradient(
                hsl(0, 0%, 100%) 50%,
                hsl(151, 88%, 84%) 50%
            ),
            -webkit-linear-gradient(hsl(0, 0%, 100%) 50%, hsl(151, 88%, 84%) 50%);
        background-size: 100% 200%;
    }
    &.paleblue {
        background: linear-gradient(
                hsl(0, 0%, 100%) 50%,
                hsl(230, 81%, 79%) 50%
            ),
            -webkit-linear-gradient(hsl(0, 0%, 100%) 50%, hsl(230, 81%, 79%) 50%);
        background-size: 100% 200%;
    }
    &.purple {
        background: linear-gradient(
                hsl(0, 0%, 100%) 50%,
                hsl(253, 60%, 67%) 50%
            ),
            -webkit-linear-gradient(hsl(0, 0%, 100%) 50%, hsl(253, 60%, 67%) 50%);
        background-size: 100% 200%;
    }
    &.darkpurple {
        background: linear-gradient(
                hsl(0, 0%, 100%) 50%,
                hsl(252, 32%, 29%) 50%
            ),
            -webkit-linear-gradient(hsl(0, 0%, 100%) 50%, hsl(252, 32%, 29%) 50%);
        background-size: 100% 200%;
    }

    &:hover {
        background-position: bottom left;
        color: #fff;
    }
    & .underscore {
        width: 100%;
        height: 0.2rem;
        background-color: #767676;
        &.lightbluegreen {
            background-color: hsl(151, 88%, 84%);
        }
        &.paleblue {
            background-color: hsl(230, 81%, 79%);
        }
        &.purple {
            background-color: hsl(253, 60%, 67%);
        }
        &.darkpurple {
            background-color: hsl(252, 32%, 29%);
        }
    }
    & a {
        margin: 10px;
    }
}
